#imitation-learning .section-heading {
    text-align: left !important;
  }

#perceptive-locomotion .section-heading {
    text-align: left !important;
  }

#reinforcement-learning .section-heading {
    text-align: left !important;
  }